# Apple system
.DS_Store

# huge datasets
**/data
**/DATA

# Ignore preprocessed data 
**/model_data

# Ignore trained models 
*.joblib
**/trained_models

# Ignoring the IDE based files 
**/__pycache__
**/.ipynb_checkpoints

# Ignore the garbage collector
**/garbage_collector
